@keyframes background-scroll {
  from { background-position: 100vw }
  to { background-position: -100vw }
}

@keyframes horizontal-scroll {
  from { right: -100vw }
  to { right: 100vw }
}

@keyframes front-wave {
  0% {
    background-position: 100vw 0;
    transform: translate(0, 0)  rotate(1deg);
  }
  50% {
    background-position: 0 0;
    transform: translate(10px, -20px)  rotate(-5deg);
  }
  100% {
    background-position: -100vw 0;
    transform: translate(0, 0)  rotate(1deg);
  }
}

@keyframes ship {
  0% {
    transform: translate(0, 0)  rotate(1deg);
  }
  50% {
    transform: translate(-100px, -100px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0)  rotate(1deg);
  }
}
