@import url('https://fonts.googleapis.com/css?family=Bangers|Sintony');

$primary-font-family: 'Bangers', cursive;
$secondary-font-family: 'Sintony', sans-serif;

$font-largest: 32px;
$font-extra-large: 28px;
$font-large: 18px;
$font-normal: 16px;
$font-small: 14px;
$font-extra-small: 12px;


body, button { font-family: $primary-font-family; }

p { font-family: $secondary-font-family; }
