// Fade ==========================
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Bounce ================================

.bounce-enter-active {
  animation: jump .5s ease-in-out;
}

.bounce-leave-active {
  animation: jump .5s ease-in-out reverse;
}
