// Fade ==========================
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Pop from right ==========================
.pop-from-right-enter-active,
.pop-from-right-leave-active {
  transition: all .3s ease;
  right: 55px;
}

.pop-from-right-enter,
.pop-from-right-leave-to {
  opacity: 0;
  right: -55px;
  transform: scale(.5);
  transition-duration: .1s;
}
// Generic slide ==========================
.slide-leave-active,
.slide-enter-active {
  transition: all .8s ease-out, webkit moz spec;
  max-height: 100vh;
}

.slide-enter {
  opacity: 0;
  transform: translateY(20%);
}

.slide-leave-to {
  opacity: 0;
  max-height: 0;
  transform: translateY(-20%);
}

// Review cards ==========================
.review-enter,
.review-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.review-leave-active {
  position: absolute;
}

// List items ============================
.list-item {
  opacity: 1;
}

.list-enter-active,
.list-leave-active {
  transition: all .5s;
  opacity: 1;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

// Bounce ================================

.bounce-enter-active {
  animation: jump .5s ease-in-out;
}

.bounce-leave-active {
  animation: jump .5s ease-in-out reverse;
}
