.controls {
  position: absolute;
  bottom: 10px;
  z-index: 200;
  left: 0;
  width: 100%;
  text-align: center;
  will-change: transform;

  &__button {
    transition: all .5 ease-in-out;
    background: $primary-color;
    color: $white;
    appearance: none;
    border: 0;
    margin: 10px;
    padding: 10px 15px;
    font-size: 24px;

    &:active {
      transform: scale(.9)
    }

    &.-isDisabled {
      opacity: .5;
    }

    &.-startGame {
      background: $green;
      color: #011e35;
      box-shadow: 0px 2px 0px 2px darken($green, 5%);
    }

    &.-attack {
      box-shadow: 0px 2px 0px 2px darken($red, 5%);
      background: $red;
    }

    &.-specialAttack {
      box-shadow: 0px 2px 0px 2px darken($blue, 10%);
      background: darken($blue, 5%);
    }
  }
}
