.ship {
  background: url('../images/background/ship.png');
  height: 700px;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 1000px;
  will-change: transform;
  transform-origin: center top;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-name: ship;
  animation-timing-function: linear;
  animation-duration: 8s;
  will-change: transform;
}
